/vendor/
/node_modules/ 
.env  
.idea/
.vscode/
.github/
*.swp
*.swo
*~ 
.DS_Store
Thumbs.db 
/database/*.sqlite
*.sqlite
*.sqlite-journal 
/public/assets/css/app.css
/public/assets/css/*.map 
docker-compose.override.yml
package-lock.json
storage/cache/*
storage/logs/*